# Assignment on Store_sales dataset

**Load the Dataset**

In [ ]:
import pandas as pd
f=pd.read_csv('store_sales.csv')
f

FileNotFoundError: [Errno 2] No such file or directory: 'store_sales.csv'

**Calculate the total sales for each store across all months.**

In [12]:
df=pd.DataFrame(f)
df.groupby('store_id')[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']].sum()

          Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  Nov  Dec
store_id
S_1         8   20   13   21   17   20    24   17   16    9    7    6
S_10       14   23   20   11   12   13    19    6    5   22   17   16
S_100       5   23   17   24   15   21    19   10   12   20    5    9
S_11       15   24    8   15   24   21     6   21   20   13   14   15
S_12        6   18   21    8    5    8    11    9   21   17   18   22
...       ...  ...  ...  ...  ...  ...   ...  ...  ...  ...  ...  ...
S_95       10   22   13   20    5    5     9   15   23   23   24    7
S_96        7   10   20   20   10   15    15   21   15    7   23   22
S_97       13    6    7   15   22   10    21   23   10    6   12    9
S_98       16    9    6   14   20   13    11   10    8   22   17   22
S_99       18   16    9    5   12   22    11   13   21   17   19   10

[100 rows x 12 columns]

**Find the average sales for each month across all stores**

In [14]:
df.groupby('store_id')[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']].mean()

,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
store_id,,,,,,,,,,,,
S_1,8.0,20.0,13.0,21.0,17.0,20.0,24.0,17.0,16.0,9.0,7.0,6.0
S_10,14.0,23.0,20.0,11.0,12.0,13.0,19.0,6.0,5.0,22.0,17.0,16.0
S_100,5.0,23.0,17.0,24.0,15.0,21.0,19.0,10.0,12.0,20.0,5.0,9.0
S_11,15.0,24.0,8.0,15.0,24.0,21.0,6.0,21.0,20.0,13.0,14.0,15.0
S_12,6.0,18.0,21.0,8.0,5.0,8.0,11.0,9.0,21.0,17.0,18.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...
S_95,10.0,22.0,13.0,20.0,5.0,5.0,9.0,15.0,23.0,23.0,24.0,7.0
S_96,7.0,10.0,20.0,20.0,10.0,15.0,15.0,21.0,15.0,7.0,23.0,22.0
S_97,13.0,6.0,7.0,15.0,22.0,10.0,21.0,23.0,10.0,6.0,12.0,9.0
S_98,16.0,9.0,6.0,14.0,20.0,13.0,11.0,10.0,8.0,22.0,17.0,22.0
S_99,18.0,16.0,9.0,5.0,12.0,22.0,11.0,13.0,21.0,17.0,19.0,10.0

**Identify the store with the highest total sales.**

In [24]:
df['Total']=df[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']].sum(axis=1)
print(df.loc[df['Total'].idxmax()])

store_id          S_62
city        California
Jan                 16
Feb                 21
Mar                  6
Apr                 22
May                 22
Jun                  9
July                21
Aug                 21
Sep                 22
Oct                 17
Nov                 16
Dec                 21
Total              214
Name: 61, dtype: object

In [43]:
city_sales=pd.DataFrame(f)
city_sales['Total']=city_sales[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']].sum(axis=1)
print(city_sales.groupby('city')['Total'].sum())

city
Arizona       3951
California    7522
Texas         5939
Name: Total, dtype: int64

**List stores with total sales greater than 200**

In [44]:
city_sales[city_sales['Total']>200]

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec,Total
37,S_38,California,21,10,13,11,11,14,24,24,24,21,16,18,207
39,S_40,Texas,22,21,13,13,14,15,6,24,16,23,13,24,204
50,S_51,Arizona,17,23,14,19,23,12,20,21,13,18,6,24,210
61,S_62,California,16,21,6,22,22,9,21,21,22,17,16,21,214
69,S_70,Texas,24,16,24,20,14,21,15,13,18,22,10,9,206
72,S_73,California,20,24,24,18,7,22,12,21,20,18,21,6,213
77,S_78,Arizona,19,23,19,24,13,12,24,17,22,16,17,5,211
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13,214
86,S_87,Texas,19,20,10,13,12,5,20,23,21,14,24,22,203
92,S_93,California,20,13,15,12,15,19,21,22,10,21,23,13,204

**Which month had the highest average sales across all stores?**

In [45]:
city_sales[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']].mean().idxmax()

'Aug'

**Which city generated the most revenue?**

In [46]:
print(city_sales.groupby('city')['Total'].sum().idxmax())

California